#detail-container {
    height: 0%;
    transition: .5s all ease;
    position: absolute;
    width: calc(100% - 10px);
    bottom: 0px;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(0, 0, 0, 0.05);
    margin: 0px 5px;
    padding: 10px;
    
    &.open {
        height: 70%;
    }
}