@import './breakpoints.scss';

:root {   
    --font-color:#666666;
    --primary: navy;
}

.hidden {
    display: none;
}

body {
    margin: 0px;
    overflow: hidden;
    color: var(--font-color);
}

input {
    height: 40px;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.btn {
    
    height:40px;
    &.btn-primary {
        background: var(--primary);
        color:white;
    }
    &.btn-circle {
        width: 40px;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
        visibility: hidden;
    }
    100% {
      opacity: 1;
        visibility: visible;
    }
}
  
@keyframes fadeOut {
    0% {
      opacity: 1;
        visibility: visible;
    }
    100% {
      opacity: 0;
        visibility: hidden;
    }
}

.fadeOut {
    animation-name: fadeOut;
    pointer-events: none;
    animation-duration: .33s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .33s;
    animation-fill-mode: both;
}

.clickable-icon {
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease;

    &:hover {
        opacity: 1;
    }
}

.inline-icon-right {
    position: absolute;
    right: 0px;
}