.session-view {
    display: flex;
    flex-wrap: wrap;
}

div#session-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 20px 0px;

    .session-header-center {
        display: flex;
    }
}